{% load static %}
<!doctype html>
<html lang="en">
<head>
        
        <meta charset="utf-8" />
        <title>YPG Security - Admin & Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="Themesdesign" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{%  static 'images/favicon.ico' %}">

        <!-- jquery.vectormap css -->
        <!-- <link href="{% static 'libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet" type="text/css" /> -->

        <!-- DataTables -->
        <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

        <!-- Responsive datatable examples -->
        <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />  

        <!-- Bootstrap Css -->
        <link href="{% static 'css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{% static 'css/app.css' %}" id="app-style" rel="stylesheet" type="text/css" />

    </head>

    <body class="sidebar-enable vertical-collpsed">
    
    <!-- <body data-layout="horizontal" data-topbar="dark"> -->

        <!-- Begin page -->
        <div id="layout-wrapper">

            {% include '../includes/header.html' %}
            <!-- ========== Left Sidebar Start ========== -->
            {% include '../includes/sidenav.html' %}
            <!-- Left Sidebar End -->

            

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">
                        
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                {% include '../includes/alerts.html' %}
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0 fw-bold fs-4">VIEW JOBS ASSIGNED LOGS</h4>
                                    

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">YPG Security</a></li>
                                            <li class="breadcrumb-item active">Job Assigned Logs</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">                                        
                                        <!-- <div id="reportrange" class="w- auto mb-3 border border-primary py-2 px-2 rounded">
                                            <i class="fa fa-calendar"></i>&nbsp;
                                            <span></span> <i class="fa fa-caret-down"></i>
                                        </div> -->

                                        <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                            <thead>
                                            <tr>
                                                <th>Job No</th>
                                                <th>Employee</th>
                                                <th>Assigned Type</th>
                                                <th>Status</th>
                                                <th>Date Time</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                                {% for job_assign in job_assigns %}
                                                
                                                <tr>
                                                    <td>{{ job_assign.job.job_no }}</td>
                                                    <td>{{ job_assign.employee.first_name }} {{ job_assign.employee.last_name }} </td>
                                                    <td>{{ job_assign.assigned_type }}</td>
                                                    <td>{{ job_assign.job.status }}</td>
                                                    <td>{{ job_assign.created_at |date:"D d-M-Y h:i A" }}</td>
                                                </tr>

                                                {% endfor %}

                                           
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                    </div>
                    
                </div>
                <!-- End Page-content -->
               
                {% include '../includes/footer.html' %}
                
            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->




        <!-- JAVASCRIPT -->
        <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'libs/metismenu/metisMenu.min.js' %}"></script>
        <!-- <script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'libs/node-waves/waves.min.js' %}"></script> -->

        
        <!-- apexcharts -->
        <!-- <script src="{% static 'libs/apexcharts/apexcharts.min.js' %}"></script> -->

        <!-- jquery.vectormap map -->
        <!-- <script src="{% static 'libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
        <script src="{% static 'libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-us-merc-en.js' %}"></script> -->

        <!-- Required datatable js -->
        <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>


         <!-- Buttons examples -->
         <script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
         <script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
         <script src="{% static 'libs/jszip/jszip.min.js' %}"></script>
         <script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
         <script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
         <script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
         <script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
         <script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
        
        <!-- Responsive examples -->
        <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

        <!-- <script src="{% static 'js/pages/dashboard.init.js' %}"></script> -->
        <!-- Datatable init js -->
        <script src="{% static 'js/pages/datatables.init.js' %}"></script>

        <!-- App js -->
        <script src="{% static 'js/app.js' %}"></script>

        <script type="text/javascript">
            $(function() {
            
                var start = moment();
                var end = moment();
            
                function cb(start, end) {
                    $('#reportrange span').html(start.format('MMM D, YYYY') + ' - ' + end.format('MMM D, YYYY'));
                    console.log(start,end)
                }
            
                $('#reportrange').daterangepicker({
                    startDate: start,
                    endDate: end,
                    ranges: {
                       'Today': [moment(), moment()],
                       'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                       'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                       'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                       'This Month': [moment().startOf('month'), moment().endOf('month')],
                       'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    }
                }, cb);
            
                cb(start, end);
            
            });
        </script>
      

       
    </body>
</html>