
{% load static %}
<!doctype html>
<html lang="en">

<head>
        
        <meta charset="utf-8" />
        <title>YPG Security</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="Themesdesign" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{%  static 'images/favicon.ico' %}">


        <!-- Bootstrap Css -->
        <link href="{% static 'css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{% static 'css/app.css' %}" id="app-style" rel="stylesheet" type="text/css" />

        <style>
            .view_hide_pass{
                position: absolute;
                right: 6px;
                top: 50%;
                height: 50%;
                display: flex;
                align-items: center;
                width: 2rem;
                justify-content: center;
                cursor: pointer;
            }
        </style>
        
    </head>

    <body class="sidebar-enable vertical-collpsed">
    
    <!-- <body data-layout="horizontal" data-topbar="dark"> -->

        <!-- Begin page -->
        <div id="layout-wrapper">

            
            {% include '../includes/header.html' %}
            <!-- ========== Left Sidebar Start ========== -->
            {% include '../includes/sidenav.html' %}
            <!-- Left Sidebar End -->

            

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                           
                     
                
                        <div class="row row-cols-2  py-3">
                            <div class="col-6 mx-auto bg-white p-4 rounded">
                                <div class="col-12">
                                    {% include '../includes/alerts.html' %}
                                </div>
                                <div class="col-md-12">
                                    <form action="{% url 'change_admin_password' %}" method="POST" >
                                        {% csrf_token %}
                
                                        <div class="form-group mb-3 position-relative">
                                            <label>Current Password</label>
                                            <input type="password" name="current_password" class='form-control' required>
                                            <div class="view_hide_pass active">
                                                <i class="ri-eye-fill"></i>
                                            </div>
                                        </div>
                
                                        <div class="form-group mb-3 position-relative">
                                            <label>Create New Password</label>
                                            <input type="password" name="new_password" class='form-control' required>
                                            <div class="view_hide_pass active">
                                                <i class="ri-eye-fill"></i>
                                            </div>
                                        </div>
                
                                        <div class="form-group position-relative">
                                            <label>Confirm New Password</label>
                                            <input type="password" name="confirm_password" class='form-control' required>
                                            <div class="view_hide_pass active">
                                                <i class="ri-eye-fill"></i>
                                            </div>
                                        </div>
                
                                        <input type="submit" value="Submit" class="btn btn-primary mt-3">
                
                                    </form>
                                </div>
                
                             
                            </div>
                            
                        </div>
                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                
                {% include '../includes/footer.html' %}
            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->

        <!-- JAVASCRIPT -->
        <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'libs/metismenu/metisMenu.min.js' %}"></script>
        <!-- <script src="{% static 'libs/metismenu/metisMenu.min.js' %}"></script>
        <script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'libs/node-waves/waves.min.js' %}"></script> -->

        <!-- <script src="{% static 'libs/parsleyjs/parsley.min.js' %}"></script> -->

        <!-- <script src="{% static 'js/pages/form-validation.init.js' %}"></script> -->

        <script src="{% static 'js/app.js' %}"></script>


        <script>
            $(document).on("click", ".view_hide_pass", function(){
                var self = $(this);
                if(self.hasClass("active")){
                    self.html(
                        '<i class="ri-eye-off-fill"></i>'
                    )
                    self.removeClass("active");
                    self.parent().find("input[type='password']").attr('type', 'text');
                }else{
                    self.html(
                        '<i class="ri-eye-fill"></i>'
                    )
                    self.addClass("active");
                    self.parent().find("input[type='text']").attr('type', 'password');
                }
            });
        </script>

    </body>

</html>
